<!DOCTYPE html>
<html>
<head>

 </script>
   <script src="https://cdn.dvnfo.com/device-risk-sdk.js" data-public-key="enter_sdk_key" context="login"> 
</script>
<script>
    SigmaDeviceManager.getDeviceSessionId().then((r) => console.log(r));
  </script>
 
 <!-- ... -->
</head>
<body>
  <h1>Sam's Page</h1>
  <h2>Hi This is DeviceRisk</h2>
 <!-- ...  -->
</body>
</html>